@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to view Orders</p>

<!--Since there's no endpoint for orders, they will be stored on disk (per the specification). Plan to use SQLite. Codex would be awesome for this.-->
